@reference "tailwindcss";

.w-auth-input {
    @apply rounded-md p-2 w-full flex outline outline-(--border-muted) border-t border-(--border-muted)/20;
    font-size: var(--text-size-main);
    font-family: var(--font-inter);
    box-sizing: border-box;
}

.w-auth-input:focus {
    outline: 2px solid var(--hover-color);
}