.w-auth-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.w-auth-input:focus {
    outline: none;
    border: 2px solid var(--primary-accent);
}
